@charset "UTF-8";

.title-div{
    margin-left: 2vw;
    margin-right: 2vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.logo, .header-blank-div{
    width: 10vw;
    max-width: 150px;
    min-width: 50px;
}
.page-title{
    font-weight: bold;
    font-size: x-large;
}

.content{
    padding: 20px;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.nav-list{
    display: flex;
    justify-content: center;
}
.nav ul{
    margin: 20px 10px;
    padding: 15px 0 0;
}
.nav li{
    margin-left: 8px;
    margin-right: 8px;
    padding: 10px;
    background-color: darkorange;
    border: 1px solid darkorange;
    display: inline;
    border-radius: 20px;
}
.nav li:hover{
    background-color: orange
}
.nav a:link, a:visited{
    color: whitesmoke;
    padding: 4px;
}

#book-list-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.book-item-div{
    padding: 10px;
    width: 45vw;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;

}

@media (max-width: 900px) {
    #book-list-div {
        flex-direction: column;
    }
    .book-item-div{
        width: 80vw;
    }
}

.book-img{
    padding-right: 10px;
    width: 40%;
}
.book-desc-div{
    width: 60%;
    font-size: medium;
}

.cc-div{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.cc-text{
    padding-right: 10px;
}
